/* Colors

background: #E5E5E5;
accent: #2196F3; 
black font color: #212121;
white font color: #FFFFFF;
grey font color: #757575;
--second-white-background: #F5F4FA;
--main-backgroundcolor: #E5E5E5;
*/

:root {
    --main-blackcolor: #212121;
    --main-backgroundcolor: #FFFFFF;
    --second-white-background: #F5F4FA;
    --accent-background: #2F303A;
    --accent-color: #2196F3;
    --accent-color-hover: #188CE8;
    --white-fontcolor: #FFFFFF;
    --grey-fontcolor: #757575;
    --black-logo-color: #000000;
} 

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--main-blackcolor);
    background-color: var(--main-backgroundcolor);
    font-family: "Roboto", "Tahoma", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a {
    margin: 0;
    padding: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
text-decoration: none;
}

/*Site nav*/
.container {
    width: 1200px;
    margin: auto;
}

.list.site-nav,
.list.contacts {
    display: flex;
}

.list.contacts {
    margin-left: auto;    
}

.list.site-nav {
    margin-left: 93px;
    margin-right: 331px;
}

.list.site-nav .item-nav:not(:last-child),
.list.contacts .item-contacts:not(:last-child) {
    margin-right: 50px;
}

/* .list.contacts .item-contacts+.item-contacts {
    margin-left: 50px;
} */

.logo {
    color: var(--black-logo-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo > span {
    color: var(--accent-color);
} 

.logo.link {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
}

.site-nav .link,
.contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-blackcolor);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav {
    display: flex;
    align-items: center;
}

.site-nav .link:hover,
.contacts .link:hover,
.site-nav .link:focus,
.contacts .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* .line {
    border: 1px solid #ECECEC;
    width: 1600px;
    height: 0px;
    left: 0px;
    top: 80px;       
} */
.hline:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #ECECEC;
}

/*Hero*/
.hero {
    background: var(--accent-background);
    text-align: center;
} 

.hero.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 696px;


    color: var(--white-fontcolor);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*Section*/

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/*Feature*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature .title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-description {
    color: var(--grey-fontcolor);
    line-height: 1.7;
}

.list.feature {
    display: flex;
}

.list.feature .feature-item {
    width: 270px;
} 

/* Альтернатива: .list.feature .feature-item + .feature-item {
    margin-left: 30px;
} */

.list.feature .feature-item:not(:last-child) {
    margin-right: 30px;
}

/* List work */
.list.work {
    display: flex;
}

.list.work .work-item + .work-item {
    margin-left: 30px;
}

/*Our team*/
/* .team .name {
    color: var(--main-blackcolor);
}  */

.section.team {
    background-color: var(--second-white-background);
}

.team > .section-title {
    margin-bottom: 50px;
}

.team .position {
    color: var(--grey-fontcolor);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.em-foto {
    margin-bottom: 30px;
}

.list.team {
    display: flex;
}

.list.team .item + .item {
    margin-left: 30px;
}

/* .list.team > .item:nth-child(2n) {
    background-color: red;
} */
/* Footer */

.footer.container,
.team-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.footer {
    background-color: var(--accent-background);
    color: var(--white-fontcolor);
}

.footer > .logo {
    color: var(--white-fontcolor);
}

.list .address {
    color: rgba(255, 255, 255, 0.6);
}

.list .address:hover,
.list .address:focus {
    color: var(--accent-color);
}

/* Address */
address {
    line-height: 1.71;
    font-style: normal;
}


/* Button */
.button {
    color: var(--white-fontcolor);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
}

.button:hover,
.button:focus {
    color: var(--white-fontcolor);
    background-color: var(--accent-color-hover);
}

/* Portfolio */

.button-portfolio {
    display: block;
    color: var(--main-blackcolor);
    background-color: var(--second-white-background);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    border: none;
}

.list.button-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.button-portfolio {
    margin-right: 8px;
    padding: 6px 22px;
}

.button-portfolio :last-child {
    margin-right: 0px;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--white-fontcolor);
    background-color: var(--accent-color);
}

.foto {
display: block;
}

.work-name {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.88;
    color: var(--grey-fontcolor);
}

.list.works-with-description {
    display: flex;
    flex-wrap: wrap;
}

.name-and-type {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.name-and-type:nth-child(3n) {
    margin-right: 0;
}

.name-and-type:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.legend {
    border: 1px solid #EEEEEE;
    padding-left: 24px;
}